# ── AWS Academy ───────────────────────────────────────────────────────────────
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=

# ── S3 ────────────────────────────────────────────────────────────────────────
S3_BUCKET_NAME=
S3_PREFIX_KAGGLE=
S3_PREFIX_HF=

# ── Kaggle ────────────────────────────────────────────────────────────────────
KAGGLE_LOCAL_DIR=
KAGGLE_FILES=

# ── Hugging Face ──────────────────────────────────────────────────────────────
HF_DATASET_NAME=
HF_DATASET_SPLIT=
HF_SAMPLE_SIZE=
HF_LOCAL_FILE=

# ── NewsAPI ───────────────────────────────────────────────────────────────────
NEWSAPI_KEY=
NEWSAPI_QUERY=
NEWSAPI_LANGUAGE=
NEWSAPI_PAGE_SIZE=

# ── Confluent Kafka ───────────────────────────────────────────────────────────
KAFKA_BOOTSTRAP=
KAFKA_API_KEY=
KAFKA_API_SECRET=
KAFKA_TOPIC=

# ── MongoDB Atlas ─────────────────────────────────────────────────────────────
MONGO_URI=
MONGO_DB_NAME=
MONGO_COLLECTION=

# ── Amazon RDS ────────────────────────────────────────────────────────────────
RDS_HOST=
RDS_PORT=
RDS_DB_NAME=
RDS_USER=
RDS_PASSWORD=
RDS_TABLE=

# ── AWS Glue ──────────────────────────────────────────────────────────────────
GLUE_JOB_NAME=
GLUE_SCRIPT_S3_PATH=
GLUE_IAM_ROLE=
GLUE_TEMP_DIR=